// _buttons.scss
//inheritence 
//same base style but the add modification
%btn {
    //shared styles
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
        transform: scale(.98);
    }
}

//use the base style and add more to it
.btn-primary {
    @extend %btn;
    //lighten the color by 10% 
    @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
    @extend %btn;
    @include set-background($secondary-color);
}